In [1]:
import pandas as pd
df = pd.read_csv('WPP2019_TotalPopulationBySex.csv')
print (df)
##import a csv file from computer

        LocID     Location  VarID      Variant  Time  MidPeriod    PopMale  \
0           4  Afghanistan      2       Medium  1950     1950.5   4099.243
1           4  Afghanistan      2       Medium  1951     1951.5   4134.756
2           4  Afghanistan      2       Medium  1952     1952.5   4174.450
3           4  Afghanistan      2       Medium  1953     1953.5   4218.336
4           4  Afghanistan      2       Medium  1954     1954.5   4266.484
...       ...          ...    ...          ...   ...        ...        ...
280927    716     Zimbabwe    207  Lower 95 PI  2080     2080.5  10576.533
280928    716     Zimbabwe    207  Lower 95 PI  2085     2085.5  10293.349
280929    716     Zimbabwe    207  Lower 95 PI  2090     2090.5   9920.336
280930    716     Zimbabwe    207  Lower 95 PI  2095     2095.5   9503.711
280931    716     Zimbabwe    207  Lower 95 PI  2100     2100.5   9090.075

        PopFemale   PopTotal  PopDensity
0        3652.874   7752.117      11.874
1        3705.395   7840.151      12.009
2        3761.546   7935.996      12.156
3        3821.348   8039.684      12.315
4        3884.832   8151.316      12.486
...           ...        ...         ...
280927  11255.983  21836.893      56.448
280928  11050.875  21355.988      55.205
280929  10767.709  20689.956      53.483
280930  10412.184  19892.080      51.421
280931   9996.105  19061.177      49.273

[280932 rows x 10 columns]

In [9]:
  print(df.head(100))
## take first 100 data

       Location  VarID Variant  Time  MidPeriod    PopMale  PopFemale  \
0   Afghanistan      2  Medium  1950     1950.5   4099.243   3652.874
1   Afghanistan      2  Medium  1951     1951.5   4134.756   3705.395
2   Afghanistan      2  Medium  1952     1952.5   4174.450   3761.546
3   Afghanistan      2  Medium  1953     1953.5   4218.336   3821.348
4   Afghanistan      2  Medium  1954     1954.5   4266.484   3884.832
..          ...    ...     ...   ...        ...        ...        ...
95  Afghanistan      2  Medium  2045     2045.5  31065.109  29908.999
96  Afghanistan      2  Medium  2046     2046.5  31447.316  30298.803
97  Afghanistan      2  Medium  2047     2047.5  31821.361  30681.797
98  Afghanistan      2  Medium  2048     2048.5  32187.123  31057.897
99  Afghanistan      2  Medium  2049     2049.5  32544.597  31427.085

     PopTotal  PopDensity
0    7752.117      11.874
1    7840.151      12.009
2    7935.996      12.156
3    8039.684      12.315
4    8151.316      12.486
..        ...         ...
95  60974.108      93.395
96  61746.119      94.578
97  62503.158      95.737
98  63245.020      96.874
99  63971.682      97.987

[100 rows x 9 columns]

In [10]:
df.drop(['VarID','MidPeriod'], axis=1, inplace=True)
df.head()
## remove  "VarID" and "MidPeriod" columns

      Location Variant  Time   PopMale  PopFemale  PopTotal  PopDensity
0  Afghanistan  Medium  1950  4099.243   3652.874  7752.117      11.874
1  Afghanistan  Medium  1951  4134.756   3705.395  7840.151      12.009
2  Afghanistan  Medium  1952  4174.450   3761.546  7935.996      12.156
3  Afghanistan  Medium  1953  4218.336   3821.348  8039.684      12.315
4  Afghanistan  Medium  1954  4266.484   3884.832  8151.316      12.486